@import "../../styles/theme";
@import "../../styles/util";

.blog-article-card-container {
  flex: 100%;
  display: flex;
  align-items: stretch;

  .blog-article-card {
    flex: 100%;
    color: initial;

    .darkmode & {
      background-color: $darkmode-bg;
      color: $darkmode-color;
    }

    .title {
      color: $primary;

      .darkmode & {
        color: $primary-light;
      }
    }

    border: 4px solid transparentize($primary, 0.6);
    padding: 2rem;

    &:hover {
      border-color: $primary;
    }
  }

  margin: 1rem;
}
