table {
  border-collapse: collapse;
  text-align: left;

  thead {
    border-bottom: 2px solid #6667;
  }

  tr {
    transition: 60ms all ease-in;
  }

  tr:hover {
    background-color: #eee;

    .darkmode & {
      background-color: #333;
    }
  }

  th {
    font-weight: 500;
    font-size: 112.5%;
  }

  td {
    padding: 1.2rem 0.8rem 1.2rem;
    border-bottom: 1px solid #aaa;
  }
}

main img {
  width: 100%;
  margin: 0 auto;
}
