@import "theme";

button {
  color: white;
  background-color: $primary;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: "Roboto Mono", monospace;

  &:hover {
    background-color: darken($primary, 5);
  }

  &:active {
    background-color: darken($primary, 10);
  }
}
