@import "theme";

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.16rem;
  font-family: "Roboto";

  &.darkmode {
    background-color: $darkmode-bg;
    color: $darkmode-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: transparentize($color: $primary, $amount: 0.88);
  font-weight: 600;
  padding: 1.5rem 0;
  margin: 1rem 0;
  letter-spacing: 0.1rem;

  .darkmode & {
    background-color: $primary;
  }
}

p {
  line-height: 1.8rem;
}

strong,
em {
  font-weight: 500;
}

main {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 0 1rem;
}

@media (max-width: 900px) {
  main {
    width: 90vw;
    font-size: 90%;
  }
}

code {
  font-family: "Consolas", "Courier New", Courier, monospace;
  padding: 0.1rem 0.5rem;
}

pre {
  border-left: 2px solid $primary-light;
  border-radius: 0 !important;

  overflow: hidden;
  font-size: 0.84rem;
  color: #036;
  cursor: default;
  padding: 0.5rem;

  .darkmode & {
    color: rgb(174, 207, 255);
    background-color: #111;
  }

  code {
    border: none;
    padding: 0;
  }
}

a {
  color: #06f;
  text-decoration: none;
  font-weight: 500;

  .darkmode & {
    color: lighten($color: #06f, $amount: 15);
  }
}

a:hover {
  color: $primary;
  .darkmode & {
    color: $primary-light;
  }
}

a:active {
  outline: 2px solid transparentize($color: $primary, $amount: 0.5);
}

s {
  color: #999;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid #6667;
}

tr {
  transition: 60ms all ease-in;
}

tr:hover {
  background-color: #eee;
}

th {
  font-weight: 500;
  font-size: 112.5%;
}

td {
  padding: 1.2rem 0.8rem 1.2rem;
  border-bottom: 1px solid #aaa;
}

img {
  border: 2px solid transparentize($color: $primary, $amount: 0);
  border-radius: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
