@import "theme";

.landing {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  cursor: default;

  img {
    border: none;
    border-radius: initial;
  }

  img.avatar {
    height: 8rem;
    width: auto;
    align-self: center;
    margin: 1rem 0;

    .darkmode &.default {
      display: none;
    }

    &.darkmode {
      display: none;
    }

    .darkmode &.darkmode {
      display: initial;
    }
  }

  img.link {
    margin: 0 1rem;
    height: 3rem;
    width: auto;
    padding: 0.25rem;

    .darkmode & {
      filter: invert(100%);
    }
  }

  h1 {
    transition: all 180ms;
  }

  h1:hover,
  h1:active {
    cursor: default;
    background: linear-gradient(
      to right,
      #f03,
      #30f,
      #00ff9d,
      #30f,
      #fff,
      #f03,
      #30f,
      #00ff9d,
      #30f,
      #f03
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 360ms ease-in-out infinite;
    background-size: 200% 100%;
    transform: scale(1.2);
  }

  svg {
    color: lighten($primary, 20);
  }

  img.link {
    opacity: 0.8;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 1;
    }
  }
}

@keyframes rainbow_animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0%;
  }
}
