@import "theme";

.landing {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  cursor: default;

  img {
    border: none;
    border-radius: initial;
  }

  img.avatar {
    height: 6rem;
    width: auto;
    align-self: center;

    .darkmode &.default {
      display: none;
    }

    &.darkmode {
      display: none;
    }

    .darkmode &.darkmode {
      display: initial;
    }
  }

  img.link {
    margin: 0 1rem;
    height: 2rem;
    width: auto;
    padding: 0.25rem;

    .darkmode & {
      filter: invert(100%);
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  $countLettersVivek_Rajagopal: 5 + 1 + 9;
  h1:hover {
    span {
      animation: rainbow_letter 0.8s step-end infinite;
    }

    @for $i from 1 through $countLettersVivek_Rajagopal {
      span:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
  }

  h1:hover span:hover {
    animation-play-state: paused;
    color: $primary;

    .darkmode & {
      color: white;
    }
  }

  svg {
    color: lighten($primary, 20);
  }

  img.link {
    opacity: 0.8;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 1;
    }
  }
}

@keyframes rainbow_letter {
  0% {
    color: lighten($color: $primary, $amount: 20);
  }
  25% {
    color: lighten($color: $primary, $amount: 40);
  }
  50% {
    color: lighten($color: $primary, $amount: 10);
  }
  75% {
    color: lighten($color: $primary, $amount: 30);
  }
  100% {
    color: lighten($color: $primary, $amount: 20);
  }
}
