@import "@/styles/theme";

.navbar-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
  justify-items: center;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  background-color: white;
  font-family: "Roboto Mono", monospace;

  .darkmode & {
    background-color: $darkmode-bg;
  }

  z-index: 99;
}

.navbar-link {
  flex: 0.25;
  padding: 0.5rem 1rem;

  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 2rem;

  &:nth-child(1),
  &:nth-last-child(1) {
    margin: 0;
  }

  $border-radius: 1rem;

  > svg {
    height: 1.5rem;
    fill: black;
  }

  .darkmode & {
    color: white;

    > svg {
      fill: white;
    }

    &.active,
    &:hover {
      color: $primary-light;
      border-color: transparentize($primary, 0.6);
      background-color: transparent;

      > svg {
        fill: $primary-light;
      }
    }
  }

  &.darkmode-toggle {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    * {
      margin: 0;
    }
  }

  &.active,
  &:hover {
    border-color: transparent;
    background-color: transparentize($primary, 0.95);
    color: $primary;
  }
}

@media (max-width: 600px) {
  .navbar-link {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    > svg {
      size: 1.2rem;
      margin: 0;
      font-size: 150%;
    }
  }

  .navbar-link-name {
    font-size: 90%;
  }
}
