@import "../styles/theme";

.navbar-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  margin: 0 -1rem;
  box-shadow: 0px 0px 15px 5px white;

  .darkmode & {
    box-shadow: 0px 0px 15px 5px $darkmode-bg;
  }
}

.navbar-link {
  border-bottom: 4px solid transparentize($primary, 0.6);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;

  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin: 0;
  }

  $border-radius: 1rem;

  &:nth-child(1) {
    border-left: 4px solid transparentize($primary, 0.6);
    border-bottom-left-radius: $border-radius;
  }

  &:nth-last-child(1) {
    border-right: 4px solid transparentize($primary, 0.6);
    border-bottom-right-radius: $border-radius;
  }

  > svg {
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  .darkmode & {
    color: white;
    background-color: #222;

    &.active,
    &:hover {
      color: $primary-light;
    }
  }

  &.darkmode-toggle {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    * {
      margin: 0;
    }
  }

  &.active,
  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

@media (max-width: 600px) {
  .navbar-link {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    > svg {
      size: 1.2rem;
      margin: 0;
      font-size: 150%;
    }
  }

  .navbar-link-name {
    font-size: 90%;
  }
}
