.router-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-cont {
  border-bottom: 2px solid #f03;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  width: 100%;
}

.navbar-link {
  color: #f69;
  padding: 15px;
  text-align: center;
  transition: 60ms;
  text-decoration: none;
  font-weight: 500;

  filter: grayscale(0.4);
  flex: 1 1;
}

.navbar-link-active, .navbar-link:hover {
  color: #f03;
  transform: translateY(1px);
  filter: grayscale(0.0);
}

.navbar-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}

.content {
  flex-grow: 1;
  padding-bottom: 4rem;
  visibility: hidden;
}

.content img {
  margin: 1rem;
  height: 3rem;
  opacity: 0.75;
}

.content img:hover {
  opacity: 1.0;
}

.fade-in {
  visibility: visible;
  animation: fadeIn 120ms ease-in-out;
}

/*Necessary feature*/
@keyframes fadeIn {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1.00;
  }
}

.footer {
  border-top: 2px solid #f03;
  color: #666;

  font-size: 0.9rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  margin-top: auto;
}

@media (max-width: 600px) {
  .navbar-link {
    font-size: 150%;
  }

  .navbar-link-name {
    display: none;
  }
}