.router-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-cont {
  border-bottom: 2px solid #f03;
  color: white;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  width: 100%;
}

.navbar-link {
  color: #f36;
  padding: 15px;
  text-align: center;
  transition: 60ms;
  text-decoration: none;

  flex: 1 1;
}

.navbar-link-active {
  color: #f03;
}

.navbar-link:hover {
  color: #f03;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  text-decoration: underline;
  transform: translateY(1px);
}

.content {
  flex-grow: 1;
}

.footer {
  border-top: 2px solid #f03; 
  color: #666;

  font-size: 0.9rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}
