.landing {
    text-align: center;
    font-size: 125%;
    height: 100%;    
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.landing h1:hover {
    cursor: default;
    animation: shake 150ms ease-in-out alternate;
}

@keyframes shake {
    0%, 100% {
      transform: rotate(0.8deg);
      
    }
    
    50% {
      transform: rotate(-0.8deg);
      color: #f69;
      text-shadow: 0px 0px 2px #999;
    }
  }

