.landing {
    text-align: center;
    font-size: 125%;
    height: 100%;    
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.landing h1:active {
    cursor: default;
    animation: shake 150ms ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {     
    }
    
    50% {
      transform: rotate(1deg);
      filter: hue-rotate(30deg);
    }
  }

