.landing {
  text-align: center;
  font-size: 125%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;

  margin: 4rem;
}

.landing h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.landing h1:hover, .landing h1:active {
  cursor: default;
  animation: shake 280ms ease-out infinite;
}

@keyframes shake {

  0%,
  100% {}

  60% {
    transform: translateY(-3px);
    filter: hue-rotate(-20deg);
  }
}

.landing img {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  opacity: 0.75;
}

.landing img:hover {
  opacity: 1.0;
}