body {
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    
    cursor: default;
    
    color: #333;
    background-color: white;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #f03;
}

#root {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.app-container {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-radius: 16px;
    padding-left: 40px;
    padding-right: 40px;

    text-align: center;

    /*
    margin-top: 80px;
    margin-left: 80px;
    */
    
    flex-shrink: 1;

    width: 40%;
    transition: 200ms all;
}

.note-list-container {
    padding: 5px;
}

.note-list-noitems {    
    color: #aaa;
    border-radius: 5px;
    min-height: 2rem;
    margin-bottom: 2px;
    padding: 5px;

    text-align: center;
}

.note-item-container {
    background-color: #ddd;
    color: #666;
    border-radius: 0.2rem;
    margin: 0.2rem;
    padding: 0.5rem;

    display: flex;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    justify-items: flex-end;

    user-select: none;
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

.note-item-container:hover {
    background-color: #ff9;
}

.note-item-droptarget {
    /*border: 2px dashed #666;*/
    background-color: gray;

    opacity: 0.6;
}

.label-editable {
    cursor: text;
}

.note-item-id {
    font-size: 40%;
}

.note-item-id:hover {
    font-size: 100%;
}

.container-add-item {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;

    padding: 5px;
}

.btn {
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin: 2px;
    width: 2rem;
    font-size: 1.25rem;
}

.fill {
    margin: 0px;
    height: auto;
}

.btn:hover {
    background-color: #333;
    cursor: pointer;
}

.btn-strong {
    color: #eee;
    background-color: #378bf8;
}

.btn-strong:hover {
    color: white;
    background-color: #006eff;
}

.btn-delete {
    color: #eee;
    background-color: rgb(255, 85, 85);
}

.btn-delete:hover {
    color: white;
    background-color: red;
}

input[type='text'] {
    flex-grow: 1;
    border:none;
    background-color: rgb(236, 236, 236);
    color: #333;
    height: 2rem;
    margin: 2px;
    padding: 0px;
    padding-left: 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 125%;
    border-radius: 5px;

    transition: all 200ms;
}

input[type='text']:hover {
    background-color: hsl(32, 100%, 95%);
}

input[type='text']:focus {
    background-color: hsl(32, 100%, 90%);
}

a {
    color: #06f;
}